S3method("[",pipeline)
S3method(advance_delayed_reactives,"NULL")
S3method(advance_delayed_reactives,default)
S3method(advance_delayed_reactives,gigvis_props)
S3method(advance_delayed_reactives,list)
S3method(advance_delayed_reactives,prop_reactive)
S3method(advance_delayed_reactives,transform)
S3method(apply_props,data.frame)
S3method(apply_props,split_df)
S3method(as.character,prop_reactive)
S3method(as.character,prop_var)
S3method(as.pipe,default)
S3method(as.pipe,pipe)
S3method(as.pipeline,default)
S3method(as.pipeline,pipe)
S3method(as.pipeline,pipeline)
S3method(as.prop_reactive,call)
S3method(as.prop_reactive,name)
S3method(as.prop_reactive,prop_reactive)
S3method(as.prop_var,call)
S3method(as.prop_var,character)
S3method(as.prop_var,name)
S3method(as.prop_var,prop_var)
S3method(as.reactive,"function")
S3method(as.reactive,default)
S3method(as.reactive,delayed_reactive)
S3method(as.reactive,reactive)
S3method(as.vega,data.frame)
S3method(as.vega,gigvis)
S3method(as.vega,gigvis_props)
S3method(as.vega,mark)
S3method(as.vega,padding)
S3method(as.vega,split_df)
S3method(as.vega,vega_axis)
S3method(as.vega,vega_legend)
S3method(bin,data.frame)
S3method(bin,numeric)
S3method(bin,split_df)
S3method(c,pipeline)
S3method(component_type,gigvis_node)
S3method(component_type,scale)
S3method(component_type,vega_axis)
S3method(component_type,vega_legend)
S3method(compute,transform_bin)
S3method(compute,transform_identity)
S3method(compute,transform_scale)
S3method(compute,transform_smooth)
S3method(connect,"NULL")
S3method(connect,datasource)
S3method(connect,datasource_reactive)
S3method(connect,pipeline)
S3method(connect,split_by_group)
S3method(connect,transform)
S3method(constant_vars,data.frame)
S3method(constant_vars,split_df)
S3method(controls,default)
S3method(controls,delayed_reactive)
S3method(controls,gigvis_node)
S3method(controls,gigvis_props)
S3method(controls,list)
S3method(controls,prop_reactive)
S3method(controls,transform)
S3method(default_mark_properties,default)
S3method(default_mark_properties,mark_arc)
S3method(default_mark_properties,mark_area)
S3method(default_mark_properties,mark_image)
S3method(default_mark_properties,mark_line)
S3method(default_mark_properties,mark_rect)
S3method(default_mark_properties,mark_symbol)
S3method(default_mark_properties,mark_text)
S3method(find_var_range,data.frame)
S3method(find_var_range,split_df)
S3method(format,band)
S3method(format,datasource)
S3method(format,gigvis_props)
S3method(format,gigvis_scales)
S3method(format,mark)
S3method(format,pipeline)
S3method(format,prop_const)
S3method(format,prop_reactive)
S3method(format,prop_var)
S3method(format,scale)
S3method(format,split_by_group)
S3method(format,transform_bin)
S3method(format,transform_identity)
S3method(format,transform_scale)
S3method(format,transform_smooth)
S3method(fullseq,numeric)
S3method(is.dynamic,datasource_reactive)
S3method(is.dynamic,default)
S3method(is.dynamic,delayed_reactive)
S3method(is.dynamic,gigvis_node)
S3method(is.dynamic,gigvis_props)
S3method(is.dynamic,pipeline)
S3method(is.dynamic,prop_reactive)
S3method(is.dynamic,reactive)
S3method(is.dynamic,transform)
S3method(is_source,datasource)
S3method(is_source,default)
S3method(max_rows,data.frame)
S3method(max_rows,split_df)
S3method(pipe_id,datasource)
S3method(pipe_id,split)
S3method(pipe_id,transform)
S3method(predict_df,lm)
S3method(predict_df,loess)
S3method(preserve_constants,data.frame)
S3method(preserve_constants,split_df)
S3method(print,band)
S3method(print,delayed_reactive)
S3method(print,gigvis)
S3method(print,gigvis_props)
S3method(print,gigvis_scales)
S3method(print,mark)
S3method(print,pipe)
S3method(print,pipeline)
S3method(print,prop_const)
S3method(print,prop_reactive)
S3method(print,prop_var)
S3method(print,scale)
S3method(prop_domain,band)
S3method(prop_domain,prop_const)
S3method(prop_domain,prop_reactive)
S3method(prop_domain,prop_var)
S3method(prop_name,band)
S3method(prop_name,prop_const)
S3method(prop_name,prop_reactive)
S3method(prop_name,prop_var)
S3method(prop_range,data.frame)
S3method(prop_range,split_df)
S3method(prop_scale,band)
S3method(prop_scale,prop_const)
S3method(prop_scale,prop_reactive)
S3method(prop_scale,prop_var)
S3method(prop_type,"NULL")
S3method(prop_type,Date)
S3method(prop_type,POSIXt)
S3method(prop_type,character)
S3method(prop_type,data.frame)
S3method(prop_type,default)
S3method(prop_type,factor)
S3method(prop_type,integer)
S3method(prop_type,logical)
S3method(prop_type,numeric)
S3method(prop_type,ordered)
S3method(prop_type,split_df)
S3method(prop_value,band)
S3method(prop_value,prop_const)
S3method(prop_value,prop_reactive)
S3method(prop_value,prop_var)
S3method(prop_vega,band)
S3method(prop_vega,prop_const)
S3method(prop_vega,prop_reactive)
S3method(prop_vega,prop_var)
S3method(smooth,data.frame)
S3method(smooth,split_df)
S3method(source_class,default)
S3method(source_class,reactive)
S3method(split_df,data.frame)
S3method(split_df,split_df)
S3method(split_vars,default)
S3method(split_vars,pipeline)
S3method(split_vars,split_by_group)
S3method(split_vars,split_df)
S3method(toString,guess)
S3method(valid_mark_properties,default)
S3method(valid_mark_properties,mark_arc)
S3method(valid_mark_properties,mark_area)
S3method(valid_mark_properties,mark_image)
S3method(valid_mark_properties,mark_line)
S3method(valid_mark_properties,mark_rect)
S3method(valid_mark_properties,mark_symbol)
S3method(valid_mark_properties,mark_text)
export(add_scale_defaults)
export(as.pipe)
export(as.pipeline)
export(axis)
export(band)
export(branch_freqpoly)
export(branch_histogram)
export(branch_smooth)
export(by_group)
export(compute)
export(connect)
export(datasource)
export(default_scale)
export(delayed_reactive)
export(dscale)
export(fullseq)
export(gigvis)
export(gigvisOutput)
export(guess)
export(input_select)
export(input_slider)
export(is.dynamic)
export(is.gigvis)
export(is.guess)
export(is.mark)
export(is.pipe)
export(is.pipeline)
export(is.prop)
export(is.scale)
export(is.scales)
export(is.split_df)
export(last_vis)
export(legend)
export(mark)
export(mark_arc)
export(mark_area)
export(mark_image)
export(mark_line)
export(mark_rect)
export(mark_symbol)
export(mark_text)
export(node)
export(observeGigvis)
export(padding)
export(pipe)
export(pipeline)
export(prop)
export(prop_const)
export(prop_reactive)
export(prop_to_scale)
export(prop_var)
export(props)
export(proptype_to_scale)
export(renderControls)
export(save_spec)
export(scale)
export(scale_ordinal)
export(scale_quantitative)
export(scale_time)
export(scales)
export(sluice)
export(split_df)
export(transform)
export(transform_bin)
export(transform_identity)
export(transform_scale)
export(transform_smooth)
export(vega_png)
export(vega_svg)
export(view_static)
import(assertthat)
importFrom(RJSONIO,fromJSON)
importFrom(RJSONIO,toJSON)
importFrom(digest,digest)
importFrom(shiny,addResourcePath)
importFrom(shiny,headerPanel)
importFrom(shiny,is.reactive)
importFrom(shiny,isolate)
importFrom(shiny,mainPanel)
importFrom(shiny,observe)
importFrom(shiny,pageWithSidebar)
importFrom(shiny,reactive)
importFrom(shiny,renderUI)
importFrom(shiny,runApp)
importFrom(shiny,selectInput)
importFrom(shiny,sidebarPanel)
importFrom(shiny,singleton)
importFrom(shiny,sliderInput)
importFrom(shiny,stopApp)
importFrom(shiny,tagList)
importFrom(shiny,tags)
importFrom(shiny,uiOutput)
importFrom(utils,adist)
importFrom(whisker,whisker.render)
