.vega {
  -webkit-user-select: none;
}
.plots>div {
  float: left;
}

/* Containers for plots shouldn't allow overflow */
.ggvis-output-container {
  overflow: hidden;
}

.ggvis-control-output {
  overflow: hidden;
}

/* Outline box when resizing a plot */
.ui-resizable-helper {
  border: 1px dotted #999;
}

/* Tooltip box */
.ggvis-tooltip {
  position: absolute;
  float: left;
  pointer-events: none;
  border-radius: 3px;
  border: 1px solid #999;
  padding: 5px;
  opacity: 0.85;
  background-color: #fff;
  box-shadow: 2px 2px 6px #888888;
  display: none;
}

/* Sidebar that goes to the bottom on small devices */
.sidebar-bottom {
  float:left;
  margin-left:0;
}

/* Main content that goes to top on small devices */
.main-top {
  float:right !important;
  margin-left:auto;
}

@media (max-width: 767px) {
  /* Bootstrap-responsive adds padding, but we don't want it */
  body {
    padding-right: 0px;
    padding-left: 0px;
  }

  .sidebar-bottom {
    display: inline-block;
    margin-top: 20px;
    width: 100%;
  }

  .main-top {
    float:none !important;
    margin-left:0;
  }

  .ggvis-input-container {
    width: 45%;
    padding-left: 2.5%;
    padding-right: 2.5%;
    float: left;
  }
}

/* For items in a dropdown menu that aren't links, make sure they display
   same as links. */
.dropdown-menu .dropdown-item {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 20px;
  color: #333;
  white-space: nowrap;
}

/* For the gear icon on the right of the plot */
.plot-gear-icon {
  position: absolute;
  width: 15px;
  height: 15px;
  top: 0px;
  right: 5px;
}
